<div class='text-center'>
  <h1>Add A Trip</h1>
</div>


<form class="new-park-form">

  <!-- THESE WILL BE PULLED FROM THE API LATER. JUST HARD-CODED FOR NOW FOR TESTING -->
  <select id="park-name">
    <option>Acadia National Park</option>
    <option>Arches National Park</option>
    <option>Bryce Canyon National Park</option>
    <option>Grand Canyon National Park</option>
    <option>Grand Teton National Park</option>
    <option>Joshua Tree National Park</option>
  </select>
  
  <div>lodging: <input type="text" id="lodging" /></div>
  <div>companions: <input type="text" id="companion-info" /></div>
  <div>activities: <br /><textarea id="activity-list"></textarea></div>
  <div><input type="submit" value="SUBMIT" /></div>
  
</form>