<div class='text-center'>
  <h1>Add A Trip</h1>
</div>

<form class='new-park-form'>

  <div>
    Would you like to add a past trip or plan a new one?
    <br />
    <input type='radio' name='trip-past' />
    Add a Past Trip
    <br />
    <input type='radio' name='trip-future' />
    Plan a New Trip
  </div>

  <!-- THESE WILL BE PULLED FROM THE API LATER. JUST HARD-CODED FOR NOW FOR TESTING -->
  <select id='park-name' class='text-black'>
    <option value='none'>Select a park</option>
    <option>Acadia National Park</option>
    <option>Arches National Park</option>
    <option>Badlands National Park</option>
    <option>Big Bend National Park</option>
    <option>Biscayne National Park</option>
    <option>Black Canyon of the Gunnison National Park</option>
    <option>Bryce Canyon National Park</option>
    <option>Canyonlands National Park</option>
    <option>Capitol Reef National Park</option>
    <option>Carlsbad Caverns National Park</option>
    <option>Channel Islands National Park</option>
    <option>Congaree National Park</option>
    <option>Crater Lake National Park</option>
    <option>Cuyahoga Valley National Park</option>
    <option>Death Valley National Park</option>
    <option>Denali National Park and Preserve</option>
    <option>Dry Tortugas National Park</option>
    <option>Everglades National Park</option>
    <option>Gateway Arch National Park </option>
    <option>Glacier National Park</option>
    <option>Grand Canyon National Park</option>
    <option>Grand Teton National Park</option>
    <option>Great Basin National Park</option>
    <option>Great Sand Dunes National Park and Preserve</option>
    <option>Great Smoky Mountains National Park</option>
    <option>Guadalupe Mountains National Park</option>
    <option>Haleakala National Park</option>
    <option>Hawaii Volcanoes National Park</option>
    <option>Hot Springs National Park</option>
    <option>Indiana Dunes National Park</option>
    <option>Isle Royale National Park</option>
    <option>Joshua Tree National Park</option>
    <option>Katmai National Park and Preserve</option>
    <option>Kenai Fjords National Park</option>
    <option>Kings Canyon National Park</option>
    <option>Lake Clark National Park</option>
    <option>Lassen Volcanic National Park</option>
    <option>Mammoth Cave National Park</option>
    <option>Mesa Verde National Park</option>
    <option>Mount Rainier National Park</option>
    <option>National Park of American Samoa</option>
    <option>New River Gorge National Park</option>
    <option>North Cascades National Park</option>
    <option>Olympic National Park</option>
    <option>Petrified Forest National Park</option>
    <option>Pinnacles National Park</option>
    <option>Redwood National Park</option>
    <option>Rocky Mountain National Park</option>
    <option>Saguaro National Park</option>
    <option>Sequoia National Park</option>
    <option>Shenandoah National Park</option>
    <option>Theodore Roosevelt National Park</option>
    <option>Virgin Islands National Park</option>
    <option>Voyageurs National Park</option>
    <option>White Sands National Park</option>
    <option>Wind Cave National Park</option>
    <option>Wrangell-St. Elias National Park and Preserve</option>
    <option>Yellowstone National Park</option>
    <option>Yosemite National Park</option>
    <option>Zion National Park</option>

  </select>

  <div id='past-trip-fields'>
    <div>
      Trip Month and Year:
      <br />
      <select id='trip-month'>
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
      <input type='text' id='trip-year' />
    </div>
    <div>Review: <br /><textarea id='trip-review'></textarea></div>
  </div>
  <!-- end of past-trip-fields -->

  <div id='future-trip-fields'>
    Cost of Admission: $<input type='text' id='trip-cost' />
  </div>
  <!-- end of future-trip-fields -->

  <div>Lodging: <input type='text' id='lodging' /></div>
  <div>Companions: <input type='text' id='companion-info' /></div>
  <div>Activities: <br /><textarea id='activity-list'></textarea></div>
  <div><input type='submit' value='SUBMIT' /></div>

</form>