<div class='text-center'>
  <h1>Planned Trips</h1>
</div>


<!-- ACCORDION STRUCTURE FOR TRIP INFO BLOCKS -->
<div class="accordion">
  <div class="park-block"> 
      <h4>Name of the Park</h4>
      <div class="location-info">
          PARK AND TRIP INFO GO HERE 
      </div>
  </div>
  <div class="park-block">
      <h4>Name of another Park</h4>
      <div class="location-info">
          PARK AND TRIP INFO GO HERE 
      </div>
  </div>
  <div class="park-block">
      <h4>Name of a Third Park</h4>
      <div class="location-info">
          PARK AND TRIP INFO GO HERE 
      </div>
  </div>
</div>