<div class='text-center'>
  <h1>Planned Trips</h1>
</div>


<!-- ACCORDION STRUCTURE FOR TRIP INFO BLOCKS -->
<div class="accordion">
{{#each futureVisits as |plannedtrip|}}
  <div class="park-block"> 
      <h4>Name of the Park</h4>
      <div class="location-info">
          <p>{{plannedtrip.activity_list}}</p>
          <p>{{plannedtrip.lodging}}</p>
          <p>{{plannedtrip.companion_info}}</p>
      </div>
  </div>
{{/each}}
</div>