header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

main {
  min-height: 200px;
}

footer {
  padding: 25px 0;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.new-park-form #past-trip-fields,
.new-park-form #future-trip-fields {
  display: none;
}

.new-park-form input,
.new-park-form textarea,
.new-park-form select {
  border: 1px solid #ddd;
}

.past-trip-delete,
.future-trip-delete {
  float: right;
}

.past-trip-delete i.fa,
.future-trip-delete i.fa {
  font-size: 36px;
}
